.navbar {
    background-color: rgba(122, 248, 248, 0.354);
    display: flex;
    justify-content: space-between;
    height: 50px;
    width: 100%;
    padding: 0 20%;

    >div {
        height: 50px;
        display: flex;
        align-items: center;
        /* background-color: rgba(122, 248, 248, 0.354); */

        >div {
            display: flex;
            height: 100%;
            margin-left: 10px;

            * {
                display: flex;
                align-items: center;
                height: 100%;
                color: rgb(88, 88, 88);
            }

            >i {

                margin-right: 3px;

                >svg {

                    width: 15px;
                    height: 15px;
                }
            }

            >span {
                /* border: 1px solid black; */
                height: 100%;
                display: flex;
                align-items: center;
                font-size: 14px;
                font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
            }
        }
    }

    >nav {
        height: 100%;
        width: 20%;
        display: flex;
        justify-content: end;

        >i {
            /* border: 1px solid black; */
            height: 50px;
            width: 40px;
            align-items: center;
            justify-content: center;
            display: flex;

            >svg {
                color: rgb(88, 88, 88);
                height: 20px;
                width: 20px;
            }
        }
    }
}


.img {
    background-image: url(../image/banner-bg.jpg.webp);
    background-size: cover;
    width: 100%;
    height: 900px;
    padding-top: 50px;
    position: relative;

    /* border: 1px solid black; */
}

header {
    background-color: rgba(255, 255, 255, 0.526);
    display: flex;
    justify-content: space-between;
    padding: 0 20%;
    width: 100%;
    height: 50px;
    /* border: 1px solid rgb(11, 11, 10); */
    position: fixed;
    top: 50px;
    left: 0;
    /* z-index: 999; */

    >.logo {
        width: 200px;
        height: 50px;
        /* z-index: 1; */
        display: flex;
        align-items: center;
    }

    >.menu {
        width: 500px;
        height: 50px;
        /* border: 1px solid red; */
        display: flex;
        align-items: center;
        justify-content: end;

        >ul {
            display: flex;
            align-items: center;

            >li {
                padding: 0 20px;
                position: relative;

                &:hover {
                    >a {
                        font-weight: bold;
                    }
                    >ul{
                        opacity: 1;
                        visibility: visible;
                    }
                }

                >a {
                    text-transform: capitalize;
                    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                    font-size: 14px;

                }

                >ul {
                    opacity: 0;
                    visibility: hidden;
                    position: absolute;
                    left: 0;
                    top: 33px;
                    /* margin-top: 108px; */
                    background-color: white;
                    /* padding: 10px; */
                    width: 200px;
                    height: 80px;
                    transition: .4s;

                    >li {
                        /* position: fixed;
                        left: 0;
                        top: 0; */
                        width: 200px;
                        height: 40px;
                        background-color: white;

                        >a {
                            display: flex;
                            align-items: center;
                            width: 100%;
                            height: 100%;
                            padding-left: 10px;
                            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                           &:hover{
                            color: blue;
                           }

                        }
                    }
                }
            }
        }
    }
}
.me{
   >img{
    width: 150px;
    height: 150px;
    border: 1px solid white;
    border-radius: 50%;
    position: fixed;
    right: 0;
    bottom: 0;
   }
   >span{
    font-size: 18px;
    color: white;
    background-color: rgba(0, 0, 0, 0.413);
    text-transform: capitalize;
    position: fixed;
    right: 30px;
    bottom: 18px;
   }
}
p{
    height: 100px;
}